.input_container {
    color: #e3ecf4;
    background: #303a46;
    border-radius: 5px;
    height: 120px;

    display: grid;
    grid-template-columns: 66% 1fr;
    align-items: center;
    margin-top: 40px;
}

.input input {
    color: inherit;
    font-size: 18px;
    width: 95%;
    height: 60px;
    padding: 0 10px 0 10px;
    margin-left: 10%;
    border: none;
    box-shadow: 0 0 4px 2px #8087b3;
    border-bottom: 3px solid #243445;
    border-radius: 5px;
    background: transparent;
}

.input input:focus {
    border-bottom: 3px solid #b3d4fc;
}

.input input::placeholder {
    color: inherit;
}

.btn button {
    font-size: 18px;
    color: inherit;
    background: #272b34;
    border: none;
    width: 210px;
    height: 55px;
    position: relative;
    border-radius: 5px;
    transition: 150ms;
}

.btn button:hover {
    background: #171d2a;
}

.btn button > i {
    position: absolute;
    right: 20%;
}
