:root {
    --fontSize: 18px;
    --fontColor: rgb(227, 236, 244);
    --fontOwnColor: rgb(227, 236, 244);
    --contentBorderRadius: 15px;
    --contentTriangleSize: 10px;
    --contentBackgroundColor: rgb(36, 52, 69);
    --contentOwnBackgroundColor: rgb(43, 80, 120);
    --footerFontColor: rgb(144, 157, 166);
    --footerOwnFontColor: rgb(166, 202, 234);
}

.message_container {
    display: flex;
    font-size: var(--fontSize);
    margin-top: 15px;
    /*width: 100%;*/
}

.message_container.own {
    justify-content: flex-end;
}

.sender_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}

.avatar {
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.sender_username {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}

.message_content {
    background: var(--contentBackgroundColor);
    color: var(--fontColor);
    border-radius: var(--contentBorderRadius) var(--contentBorderRadius) var(--contentBorderRadius) 0;
    padding: 1em 1em calc(1em - 5px) 1em;
    margin-left: 10px;
    line-height: 1.4;
    min-width: 7%;
    max-width: 40%;
    position: relative;
}

.message_container.own .message_content {
    color: var(--fontOwnColor);
    border-radius: var(--contentBorderRadius) var(--contentBorderRadius) 0 var(--contentBorderRadius);
    background: var(--contentOwnBackgroundColor);
}

.new_message {
    animation: leftSideMessage 500ms ease-out;
}

.message_container.own .new_message {
    animation: rightSideMessage 300ms ease-out;
}

.message_content::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(var(--contentTriangleSize) * -1);

    width: 0;
    height: 0;
    border-bottom: var(--contentTriangleSize) solid var(--contentBackgroundColor);
    border-left: var(--contentTriangleSize) solid transparent;
}

.message_container.own .message_content::after {
    border-bottom: var(--contentTriangleSize) solid var(--contentOwnBackgroundColor);
    border-right: var(--contentTriangleSize) solid transparent;
    border-left: 0;

    left: 100%;
}

.message_body {
    word-break: break-word;
}

.message_footer {
    font-size: calc(var(--fontSize) - 2px);
    display: flex;
    justify-content: flex-end;
    color: var(--footerFontColor);
    margin-top: 5px;
}

.message_footer:nth-child(2) {
    justify-content: flex-start;
}

.message_container.own .message_footer {
    color: var(--footerOwnFontColor);
    align-items: center;
}

.icons_container_footer {
    width: 60px;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    transition: 150ms;
}

.icons_container_footer i {
    cursor: pointer;
}

.icons_container_footer i:hover {
    color: #c0d6e8;
}

.message_content:hover .icons_container_footer {
    opacity: 1;
}

.message_date {
}

.message_body::selection {
    color: inherit;
    background: #04245a;
}

@keyframes leftSideMessage {
    from {
        left: -100%;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes rightSideMessage {
    from {
        right: -100%;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}
